*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    z-index: 999;
  

}
h2{
    margin-top: 50px;
    color: aliceblue;
    font-size: 33px;
}
body{
    background-image: url( https://wallpapercave.com/wp/wp7709781.jpg );
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.logo{
  display: inline-block;
    align-items: center;
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 50px;
    text-transform: uppercase;
    padding: 10px 100px;
   margin-top: 25px ;
}
img{
    position: absolute;
    display: inline-block;
  margin-top: -80px;
    left: 100px;
}
form{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 500px;
    background-color:rgba(0,0, 0, 0.8);
    border-radius: 25px;
    transition: 0.6s ease; 
    text-align: center;
    display: inline-block;
  margin:-200px;

 
}
form:hover{
    transform: scale(1.1);
}

.inputs {
    color:rgb(184, 179, 179);
    margin-top: 39px;
    background: none;
    padding: 5px;
    border: none;
    border-bottom: 2px solid rgb(44, 44, 235) ;
}
.label{
    color: aliceblue;
    font-size: 19px;
}

.button{
    background-color:white;
    border-radius: 12px;
    color: black;
    text-decoration: none;
    display: inline-block;
    margin-top: 22px;
   font-size: 30px;
  
   padding: 7px;
   
}
.fot{
  background: linear-gradient(#c9d0f8 ,#c9d0f8 );
  display: flex;
  flex-direction: column;
  align-items: center;
margin-top: 800px;
  padding: 0 5rem;
  color: black;
 font-size: 19px;
 height: 16vh;
}
.icons{
  margin-top: 7px;
  margin-left: 100px;

}
.forgot{
  
  border-radius: 12px;
  color: rgb(241, 236, 236);
  text-decoration: none;
  display: inline-block;
  margin-top: 22px;
 font-size: 15px;
 padding: 3px;
 background: none;
 border: none;
 
}
.forgot:hover{
  color: rgb(79, 23, 233);
}
.button:hover{
  background-color: rgb(44, 44, 235);
color: aliceblue;
}

@media(max-width:1109px ){
    .logo{
        display: inline-block;
        margin-top: 20px;
        font-size: 25px;
        padding: 10px;
    }
    .fot{
      margin-top: 1200px;
      height: 12vh;
    }
    form{
      margin-left: -43%;
    }

}
@media(max-width:412px){
    form{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 330px;
        height: 550px;
        text-align: center;
        display: inline-block;
      margin-right: 100px;
      margin-left: -45%;
    }
    .fot{
      margin-top: 1200px;
      height: 12vh;
      font-size: 14px;
    }
    .icons{
      margin-left: 50px;
      font-size: 14px;
    }
}
@media(max-width:281px){
     img{
        position: absolute;
        display: inline-block;
      position: absolute;
      margin-bottom: 2px;
        left: 70px;
        height: 90px;
        width: 90px;
     
    }
    form{
        width: 230px;
        display: inline-block;
      padding: 20px 0;
      margin-left: -40%; 
      padding-left: 10px;  
      height: 440px;
      margin-top: 40px;
       
    }
   h2{
     font-size: 19px;
   }
 
    .label{
      display: inline-block;
      position: absolute;
      margin-bottom: 2px;
      padding-top: 5px;
      margin-left: 7px;
    }
    .inputs{
      margin-top: 20px;
        padding-top: 3px;
    }
    .fot{
      margin-top: 1200px;
      height: 12vh;
      font-size: 10px;
    }
    .icons{
      margin-left: 50px;
      font-size: 12px;
    }
}
  @media(width:1024px){
    form{
      display:inline-block ;
 margin-left: -20%;
}
  }
  @media(width :820px){
    form{
      display: inline-block;
      margin-left: -20%;
    }
  }
  @media(width :912px){
    form{
      display: inline-block;
      margin-left: -20%;
    }
  }
  @media(width :768px){
    form{
      display: inline-block;
      margin-left: -20%;
    }
  }